.cards {
    padding: 4rem;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    color: #fff;
}

h1 {
    text-align: center;
}

.cards-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}

.cards-wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.cards-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.cards-item {
    position: relative;
    min-height: 20rem;
    width: 40%;
    display: flex;
    margin: 1rem 1rem;
    border-radius: 10px;
}

.cards-item-link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards-item-pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.cards-item-pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 10px;
    max-width: calc((100%) - 30px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
}

.cards-item-img {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.cards-item-img:hover {
    transform: scale(1.1);
}

.cards-item-info {
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 20px 30px 30px;
}

.cards-item-text {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

#cards-item-addcart {
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 100;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#cards-item-remove {
    position: absolute;
    z-index: 100;
    top: 4%;
    right: 4%;
    color: #1f98f4;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

#cards-item-addcart:hover {
    transform: scale(1.2);
    color: #1f98f4;
}

#cards-item-remove:hover {
    transform: scale(1.2);
    color: #fff;
}

.added {
    opacity: 0;
}

@media only screen and (min-width: 1200px) {
    .content-blog-container {
        width: 84%;
    }
}

@media only screen and (min-width: 1024px) {
    .cards-items {
        display: flex;
    }

}

@media only screen and (max-width: 1024px) {
    .cards-item {
        margin-bottom: 2rem;
        min-width: 75%;
    }
}

@media only screen and (max-width: 770px) {
    .cards-item {
        margin-bottom: 2rem;
        min-width: 100%;
    }
}