.cart-area {
    height: 90vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-area-wrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.cart-area-title {
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    font-size: 2rem;
}
.cart-area-items {
    width: 100%;
    height: auto;
}

table {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

thead {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
}

thead > tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headings {
    text-align: left;
}

tbody {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-row {
    padding: 1rem;
    border: 2px solid #242424;
    width: 100%;
    height: 4rem;
    display: flex;
    margin-bottom: 10px;
}

tr:nth-child(even) {
    background-color: #242424;
    color: white;
    border-bottom: 1px solid #242424;
}

.text-cell {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 1rem;
    text-align: left;
}

.price-cell {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    width: 50%;
    height: 100%;
}

.totals-area {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 50%;
    font-size: 1rem;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    background-color: #242424;
    color: #ffff;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}



@media screen and (max-width: 1756px){
    thead {
        min-width: 60%;
    }
    tbody {
        min-width: 60%;
    }
    tfoot {
        min-width: 60%;
    }
}

@media screen and (max-width: 1200px){
    .cart-area-wrapper {
        padding: 1rem;
        margin: 1rem;
    }
    .cart-area {
        padding: 1rem;
    }
    thead {
        min-width: 75%;
    }
    tbody {
        min-width: 75%;
    }
    tfoot {
        min-width: 75%;
    }
}

@media screen and (max-width: 700px){
    table {
        font-size: 0.7rem;
        width: 100%;
    }
    .cart-area-wrapper {
        padding: 0;
        margin: 0 auto;
    }
    .cart-area-title {
        font-size: 1.5rem;
    }
    thead {
        min-width: 95%;
    }
    tbody {
        min-width: 95%;
    }
    .text-cell > h4 {
        font-size: 0.9rem;
    }
    .price-cell > h4 {
        font-size: 0.9rem;
    }
    tfoot {
        min-width: 95%;
    }
    .total td {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 500px) {
    .cart-area-wrapper {
        margin: 0 auto;
    }
}
